.yarnrc
amfora
beekeeper-studio
coc
dalias
dconf
figma-linux
GIMP
gtk-3.0
hangman
htop
inkscape
libresprite
littre
marktext
masterword
memos.json
nnn/.selection
Pencil
pipe-viewer
pulse
Thunar
typiskt
xfce4

